* {
  margin: 0;
  padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  font-family: 'Nunito Sans', sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
.m-10 {
  margin: 10px;
}
.pointer {
  cursor: pointer;
}

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.center {
  align-items: center;
}

.customized-scrollbar::-webkit-scrollbar {
  background-color: #bdc5d1;
  border-radius: 15px;
    width:11px
}
.customized-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgb(105, 142, 206);
  border-radius: 15px;
  width: 10px;
}