.kanban-main {    
    margin: 20px 0;
    height: 650px;
    width: 100%;
    overflow: auto;
    overflow-x: hidden;
}

.kanban-board {
  /* align-items: center; */
  justify-content: center;
  padding: .5rem;
  display: grid;
  gap: .5rem;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(auto-fill, 300px);
  align-items: start;
}
.kanban-group {
  background-color: #49505e;
  padding: .4rem;
  min-height: 150px;
  padding-bottom: 20px;
}
/* .kanban-group:-moz-drag-over {
  cursor:move;
} */
.kanban-item {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80px;
  background-color: white;
  border-radius: 3px;
  color: #282c34;
  margin: 7px;
  font-weight: bold;
  cursor: pointer;
}

/* .kanban-item:active {
  cursor:move;
} */

.kanban-item * {  
  margin: 0;
}

.group-title {
    text-align: center;
    padding: 3px;
    border-radius: 5px;
    color: white;
}
.Done {
  background-color: rgb(120, 236, 91);
}

.Pending {
  background-color: rgb(243, 53, 53);
}

.Doing {
  background-color: rgb(243, 230, 53);
}

.Todo {
  background-color: rgb(230, 129, 15);
}

.current {
  background-color: #282c34;
}