.kanban-main {    
    height: 675px;
    width: 100%;
    overflow: auto;
    overflow-x: hidden;
    background-color: #c6c7ca;
}

.kanban-board {
  margin: 20px 0;
  /* align-items: center; */
  justify-content: center;
  padding: .5rem;
  display: grid;
  gap: .5rem;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(auto-fill, 300px);
  align-items: start;
  
}
.kanban-group {
  background-color: #49505e;
  padding: .4rem;
  min-height: 150px;
  padding-bottom: 20px;
  border-radius: 2px;
}
/* .kanban-group:-moz-drag-over {
  cursor:move;
} */
.kanban-item {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  padding: 7px 0px 0px 7px;
  min-height: 50px;
  background-color: white;
  border-radius: 3px;
  color: #282c34;
  margin: 7px;
  /* font-weight: bold; */
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.kanban-item p {
  padding: 0px 7px 2px 7px;
  word-wrap: break-word;
}

/* .kanban-item:active {
  cursor:move;
} */

.kanban-item * {  
  margin: 0;
}
.kanban-group .add-button{
  border: 0.5px solid rgb(73, 73, 73);
  text-align: center;
  cursor: pointer;
  margin: 7px;
  padding: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  color: #282c34;
}
.kanban-group .add-button i {
  font-size:x-large;
  margin-right: 5px;
}
.group-title {
    text-align: center;
    padding: 3px;
    border-radius: 5px;
    color: rgb(70, 70, 70);
}
.Done {
  background-color: rgb(120, 236, 91);
}

.Pending {
  background-color: rgb(247, 96, 96);
}

.InProgress {
  background-color: rgb(243, 230, 53);
}

.Todo {
  background-color: rgb(230, 129, 15);
}

.current {
  background-color: #282c34;
}