* {
    box-sizing: border-box;
}

.header {
    display: none;
}

.main-menu {
    display: none;
}

.landing-page-container {
    width: 1170px;
    /* padding-right: 15px;
    padding-left: 15px; */
    margin: auto;
    /* font-family: 'Open Sans', sans-serif !important; */
}


.landing-page {
    position: relative;
    background-color: #FFF;
}

.landing-page .header-area {
    display: flex;
    padding: 15px 0 0;
    position: relative;
}

.landing-page .header-area .logo {
    /* text-transform: uppercase; */
    /* font-style: italic; */
    margin-top: 10px;
    font-size: 23px;
    width: 300px;
    /* color: #5d5d5d; */
}

.landing-page .header-area .links {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: right;
}

.landing-page .header-area .links li {
    display: inline-block;
    margin-left: 30px;
    /* color: #5d5d5d; */
    cursor: pointer;
}

.landing-page .header-area .links li:last-child {
    border: 0;
    border-radius: 20px;
    padding: 10px 18px;
    color: #FFF;
    background-color: #6c63ff;
}

.main-section {
    display: flex;
    justify-content: center;
}

.landing-page .info {
    width: 50%;
    /* float: left; */
    margin-top: 130px;
    /* display: flex; */
}

.landing-page .info h1 {
    font-size: 44px;
    margin: 0 0 20px;
    line-height: 1.4;
    color: #5d5d5d;
}

.landing-page .info p {
    margin: 0;
    line-height: 1.6;
    font-size: 15px;
    color: #5d5d5d;
}

.landing-page .info button {
    border: 0;
    border-radius: 20px;
    padding: 12px 30px;
    margin-top: 30px;
    cursor: pointer;
    color: #FFF;
    background-color: #6c63ff;
}

.landing-page .image {
    width: 50%;
    float: right;
    margin-top: 35px;
}

.landing-page .image img {
    max-width: 100%;
}

.clearfix {
  clear: both;
}

@media only screen and (max-width:400px){
	.header {
		display: none;
	}
	.main-menu {
		background: #1a1a1a;
		position: fixed;
		height: 70px;
		bottom: 0;
		width: 100%;
		overflow: hidden;
		align-items: center;
		padding: 3px 5px 3px 5px;
	}
	.main-menu ul {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		list-style: none;
		margin-right: 15px;
	}
	.main-menu ul li {
		padding: 0;
	}
	.main-menu ul li i{
		font-size: large;
	}
	.kanban-main {
		height: 100vh !important;
	}
	.notes-container {
		height: 100vh !important;
	}
	.container {
		height: 100vh !important;
	}
}

/* End Landing Page */