.kanban-form {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.kanban-form input {
    border: none;
    outline: none;
    padding: 7px;
    min-width: 270px;
    font-size: large;
    font-weight:bold;
    background-color: aliceblue;
}
.kanban-form input:focus {
    border: 1px solid rgb(17, 109, 230);
}
.kanban-form > * {
    margin: 10px;
}

.kanban-form textarea {
    height: 75px;
    background-color: inherit;
    border: none;
    outline: none;
    font-size: larger;
    font-weight:bold;
    padding: 8px;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; */
    border-radius: 7px;
    min-width: 270px;
    overflow: hidden;
}

.kanban-form textarea:focus{
    background-color: #e0e0e0;
}

.kanban-form .add-btn-container {
    display: flex;
    justify-content: center;
}

.add-btn {
    width: 50px;
}