.main-menu {
	background: #1a1a1a;
	position: fixed;
	height: 100%;
	left: 0;
	width: 60px;
	overflow: hidden;
}
.column {
	display: flex;
	flex-direction: column;
	padding: 5px 0;
}

.main-menu li {
 	 padding: 10px 0;
	 text-align: center;
}

.main-menu li .nav-text {
	color: rgb(207, 207, 207);
	font-size: small;
}

.main-menu li > a {
	color: rgb(255, 255, 255);
	font-size: 14px;
	text-decoration: none;
}

.fa {
	 height: 28px;
 	 font-size: 1.6em;
}

a:hover,
a:focus {
	text-decoration: none;
}

.main-menu li .column:hover {
	background-color: rgb(53, 53, 53);
}

.main-menu ul li i.active {
	color: #3994e4;
}

@media only screen and (max-width:400px){
	.header {
		display: none;
	}
	.main-menu {
		background: #1a1a1a;
		position: fixed;
		height: 70px;
		bottom: 0;
		width: 100%;
		overflow: hidden;
		align-items: center;
		padding: 3px 5px 3px 5px;
	}
	.main-menu ul {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		list-style: none;
		margin-right: 15px;
	}
	.main-menu ul li {
		padding: 0;
	}
	.main-menu ul li i{
		font-size: large;
	}
	.kanban-main {
		height: 100vh !important;
	}
	.notes-container {
		height: 100vh !important;
	}
	.container {
		height: 100vh !important;
	}
}