.notes-list-container {
    padding: 30px;
    overflow: auto;
    overflow-x: hidden;
}

.notes-list {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(auto-fill, minmax(275px,1fr));
    grid-auto-rows: 55px;
}